@page "/add"
@using EducationalPlatformITCube.Inspector.Web.Server.Pages.Classes;
<html>
<body>
    <div class="login-root" style="margin-top: 3px">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
            <div class="loginbackground box-background--white ">
                <div class="loginbackground-gridContainer">
                    <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                        <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                        </div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                        <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                        <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                        <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                        <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                        <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                        <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                        <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                        <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
                    </div>
                </div>
            </div>
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                    <h1>IT-cube</h1>
                </div>
                <div class="formbg-outer">
                    <div class="formbg">
                        <div class="formbg-inner padding-horizontal--48">
                            <span class="padding-bottom--15">Подача заявки на обучение</span>
                            <form id="stripe-login">
                                <EditForm Model="@applicationModel" OnValidSubmit="SubmitForm">
                                <DataAnnotationsValidator />
                                    <div class="field padding-bottom--24">
                                        <label for="email">Почта:</label>
                                        <InputText id="email" class="form-control" @bind-Value="@applicationModel.Email" />
                                        <ValidationMessage For="@(() => applicationModel.Email)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="lastName">Фамилия:</label>
                                        <InputText id="lastName" class="form-control" @bind-Value="@applicationModel.LastName" />
                                        <ValidationMessage For="@(() => applicationModel.LastName)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="firstName">Имя:</label>
                                        <InputText id="firstName" class="form-control" @bind-Value="@applicationModel.FirstName" />
                                        <ValidationMessage For="@(() => applicationModel.FirstName)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="middleName">Отчество ребенка:</label>
                                        <InputText id="middleName" class="form-control" @bind-Value="@applicationModel.MiddleName" />
                                        <ValidationMessage For="@(() => applicationModel.MiddleName)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="dateOfBirth">Дата рождения:</label>
                                        <InputDate id="dateOfBirth" class="form-control" @bind-Value="@applicationModel.DateOfBirth" />
                                        <ValidationMessage For="@(() => applicationModel.DateOfBirth)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="age">Возраст:</label>
                                        <InputNumber id="age" class="form-control" @bind-Value="@applicationModel.Age" />
                                        <ValidationMessage For="@(() => applicationModel.Age)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="schoolNumber">№ Школы:</label>
                                        <InputNumber id="schoolNumber" class="form-control" @bind-Value="@applicationModel.SchoolNumber" />
                                        <ValidationMessage For="@(() => applicationModel.SchoolNumber)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="schoolClass">Класс в школе:</label>
                                        <InputText id="schoolClass" class="form-control" @bind-Value="@applicationModel.SchoolClass" />
                                        <ValidationMessage For="@(() => applicationModel.SchoolClass)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="session">Выбор смены обучения:</label>
                                        <InputSelect id="session" class="form-control" @bind-Value="@applicationModel.Session">
                                            <option value="Первая">Первая</option>
                                            <option value="Вторая">Вторая</option>
                                        </InputSelect>
                                        <ValidationMessage For="@(() => applicationModel.Session)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="studyDirection">Выбор направления обучения:</label>
                                        <InputSelect id="studyDirection" class="form-control" @bind-Value="@applicationModel.StudyDirection">
                                            <option value="Направление 1">Направление 1</option>
                                            <option value="Направление 2">Направление 2</option>
                                            <option value="Направление 3">Направление 3</option>
                                            <!-- Добавьте остальные варианты направлений -->
                                        </InputSelect>
                                        <ValidationMessage For="@(() => applicationModel.StudyDirection)" />
                                    </div>
                                    <h4>Данные родителя:</h4>
                                    <div class="field padding-bottom--24">
                                        <label for="parentLastName">Фамилия:</label>
                                        <InputText id="parentLastName" class="form-control" @bind-Value="@applicationModel.ParentLastName" />
                                        <ValidationMessage For="@(() => applicationModel.ParentLastName)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="parentFirstName">Имя:</label>
                                        <InputText id="parentFirstName" class="form-control" @bind-Value="@applicationModel.ParentFirstName" />
                                        <ValidationMessage For="@(() => applicationModel.ParentFirstName)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="parentMiddleName">Отчество:</label>
                                        <InputText id="parentMiddleName" class="form-control" @bind-Value="@applicationModel.ParentMiddleName" />
                                        <ValidationMessage For="@(() => applicationModel.ParentMiddleName)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="parentPhoneNumber">Контактный телефон:</label>
                                        <InputText id="parentPhoneNumber" class="form-control" @bind-Value="@applicationModel.ParentPhoneNumber" />
                                        <ValidationMessage For="@(() => applicationModel.ParentPhoneNumber)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <InputCheckbox class="form-check-input" @bind-Value="@applicationModel.Consent" />
                                                Согласие на обработку данных
                                            </label>
                                        </div>
                                        <ValidationMessage For="@(() => applicationModel.Consent)" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <label for="comment">Комментарий:</label>
                                        <InputTextArea id="comment" class="form-control" @bind-Value="@applicationModel.Comment" />
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <input type="submit" name="submit" value="Continue">
                                    </div>                               
                                </EditForm>
                            </form>
                        </div>
                    </div>
                    <div class="footer-link padding-top--24">
                        <span>Возникли вопросы? <a href="">Позвоните на номер +79393378504</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@code {
    private RequestModel applicationModel = new RequestModel();

    private void SubmitForm()
    {
        Console.WriteLine($"{applicationModel.FirstName} {applicationModel.ParentLastName}");
        // Ваш код обработки отправки заявки здесь
        // Вы можете использовать applicationModel для доступа к значениям полей формы
    }
}
